@import "../base/variable.scss";
@import "../base/mixin.scss";

.page-title {
  text-align: left;
  margin-top: 0px;
}
.holiday-card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -10px;
  box-sizing: border-box;
  h3 {
    font-size: 18px;
    margin: 0px;
    color: $secondary-3;
    @include media-breakpoint-down(xxl){
      font-size: 16px;
    }
  }
  .holiday-card-list-item {
    flex: 0 0 auto;
    width: 25%;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    @include media-breakpoint-down(mxs){
      padding: 0px 25px;
    }
    @include media-breakpoint-down(xl){
      width: 33.33%;
    }
    @include media-breakpoint-down(lg){
      width: 50%;
    }
    @include media-breakpoint-down(sm){
      width: 100%;
    }
    .cmn-card-shadow-box {
      box-shadow: $box-shadow-2;
    }
    &:first-child{
      .cmn-card-shadow-box {
        @include media-breakpoint-down(mxs){
          margin-top: 15px;
        }
      }
    }
    .month-card-list {
      padding: 0px;
      margin: 0px;
      .month-card-list-item {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        .left-content {
          width: 80px;
          flex: 0 0 auto;
          place-self: flex-start;
          text-align: center;
          margin-right: 20px;
          background-color: $primary-1;
          color: $white;
          padding: 6px 0px;
          border-radius: 6px;
          span {
            display: block;
            &:first-child {
              font-size: 22px;
            }
            &:last-child {
              font-size: 16px;
            }
          }
        }
        .right-content {
          text-align: left;
          padding-right: 30px;
          span {
            display: block;
          }
          .month {
            font-size: 22px;
            color: $secondary-5;
          }
          .year {
            font-size: 16px;
            color: $secondary-1;
          }
        }
      }
      .top-left-center-alignment {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: $secondary-4;
      }
    }
    .card-header {
      .card-image {
        width: 100%;
        height: 260px;
        @include media-breakpoint-down(xs){
          height: auto;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top center;
          transform: scale(1);
          transition: all .5s ease 0s;
        }
      }
    }
    .content-box {
      padding: 0px 12px 12px;
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin: 0px;
        text-align: left;
        font-size: 16px;
      }
    }
    .holiday-card-list-container {
      .card-header {
        position: sticky;
        top: 0px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        background-color: $white;
        border-bottom: 1px solid $secondary-1;
        border-radius: 6px;
        z-index: 9;
        h2 {
          font-size: 22px;
          margin: 0px;
          text-align: center;
          @include media-breakpoint-down(xxl){
            font-size: 20px;
          }
        }
      }
      .card-body {
        height: 250px;
        min-height: 250px;
        max-height: 250px;
        overflow-x: hidden;
        overflow-y: auto;
        @include scroll-style();
        @include media-breakpoint-down(sm){
          height: auto;
          min-height: 250px;
          max-height: auto;
          overflow-y: hidden;
        }
      }
    }
    .holiday-card-view-container {
      min-height: 450px;
      @include media-breakpoint-down(sm){
        min-height: auto;
      }
      .card-header {
        overflow: hidden;
        .card-image {
          position: relative;
          &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: hsla(0, 0%, 100%, .4);
            opacity: 0;
            transition: all .5s ease 0s;
            img {
              transform: scale(1);
              transition: all .5s ease 0s;
            }
          }
        }
      }
      &:hover {
        .card-header {
          .card-image {
            &::after {
              opacity: 1;
              transition: all .5s ease 0s;
            }
            img {
              transform: scale(1.2);
              transition: all .5s ease 0s;
            }
          }
        }
      }
    }
  }
  .detail-box {
    position: relative;
    margin: 8px 0px 12px;
    h3 {
      padding-right: 30px;
    }
    .link-icon {
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      font-size: 20px;
      color: $primary-1;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

/* Switch Button - Relative Code Start */
.switch-button-container {
  .ms-ChoiceFieldGroup {
    text-align: right;
    margin-bottom: 15px;
    .ms-ChoiceFieldGroup-flexContainer {
      display: inline-flex;
      justify-content: flex-start;
      border: 1px solid $primary-1;
      border-radius: 6px;
      overflow: hidden;
      .ms-ChoiceField {
        margin: 0px;
        min-height: auto;
        &:first-child {
          .ms-ChoiceField-wrapper {
            .ms-ChoiceField-field {
              border-top-left-radius: 6px;
              border-bottom-left-radius: 6px;
            }
          }
        }
        &:last-child {
          .ms-ChoiceField-wrapper {
            .ms-ChoiceField-field {
              border-top-right-radius: 6px;
              border-bottom-right-radius: 6px;
            }
          }
        }
        &:not(:last-child) {
          border-right: 1px solid $primary-1;
        }
        .ms-ChoiceField-wrapper {
          .ms-ChoiceField-field {
            min-width: auto;
            text-align: center;
            padding: 8px 0px;
            background-color: $white;
            border: none;
            &::after, &::before {
              display: none;
            }
            .ms-ChoiceField-innerField {
              padding: 0px 15px;
              .ms-ChoiceField-iconWrapper {
                i {
                  font-size: 24px;
                  color: $secondary-3;
                }
              }
            }
            .ms-ChoiceField-labelWrapper {
              display: none;
            }
            &.is-checked {
              background-color: $primary-1;
              .ms-ChoiceFieldLabel {
                color: $white;
              }
              .ms-ChoiceField-innerField {
                .ms-ChoiceField-iconWrapper {
                  i {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/* Switch Button - Relative Code End */

.title-with-choicegroup-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @include media-breakpoint-down(mxs){
    padding: 0px 15px;
  };
  .page-title {
    padding-right: 30px;
  }
  .switch-button-container {
    flex: 0 0 auto;
  }
  .right-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include media-breakpoint-down(md){
      width: 100%;
      justify-content: space-between;
    }
    .ms-Dropdown-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: 10px;
      margin-bottom: 15px;
      .ms-Dropdown {
        .ms-Dropdown-title {
          height: 50px;
          display: flex;
          align-items: center;
          font-size: 18px;
          border-radius: 6px;
        }
      }
      .ms-Label {
        display: block;
        font-size: 20px;
        line-height: 22px;
        color: $primary-2;
        font-weight: 600;
        margin-right: 12px;
        @include media-breakpoint-down(md){
          display: none;
        }
        @include media-breakpoint-down(xs){
          font-size: $fs-16;
        }
      }
    }
  }
}

.ms-Dropdown-container {
  .ms-Dropdown {
    .ms-Dropdown-caretDownWrapper {
      top: 50%;
      transform: translateY(-50%);
      height: auto;
      line-height: normal;
    }
  }
}

.ms-Layer {
  .ms-Layer-content {
    .ms-Callout-container {
      .ms-Dropdown-callout {
        .ms-Callout-main {
          >div {
            .ms-Dropdown-items {
              .ms-Dropdown-item {
                &.ms-Button {
                  height: auto;
                  min-height: auto;
                  padding: 8px 8px;
                  .ms-Button-flexContainer {
                    .ms-Dropdown-optionText {
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.not-found-message-content-box {
  width: 70%;
  display: flex;
  justify-content: center;
  background: $white;
  border-radius: 10px;
  padding: 30px 60px;
  margin: 50px auto 50px;
  box-shadow: $box-shadow-2;
  .content-box{
    text-align: center;
    > h3{
      font-size: 28px;
      margin: 0px;
      color: $primary-1;
    }
    > p{
      font-size: 20px;
      margin: 20px 0px;
    }
    img{
      width: 500px;
    }
    .btn-container{
      .ms-Button--default{
        &.ms-Button{
          &.btn-primary-1{
            min-width: 120px;
          }
        }
      }
    }
  }
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &.btn-center{
    justify-content: center;
  }
  &.btn-end{
    justify-content: flex-end;
  }
  .ms-Button--default{
    &.ms-Button{
      &.btn-primary-1{
        height: 40px;
        font-size: $fs-16;
        background-color: $primary-1;
        border: 1px solid $primary-1;
        color: $white;
        border-radius: 4px;
      }
    }
  }
}

// Sharepoint Select Column Card issue SCSS Customize Start
.CanvasZone{
  .CanvasSection{
    .ControlZone{
      .ControlZone--control{
        .ms-SPLegacyFabricBlock{
          > section{
            @include media-breakpoint-down(mxs){
              padding: 0px;
            }
          }
        }
      }
    }
    &.CanvasSection-xl6{
      .ControlZone{
        .ControlZone--control{
          .ms-SPLegacyFabricBlock{
            .holiday-card-list{
              height: 720px;
              overflow-y: auto;
              @include scroll-style();
              @include media-breakpoint-down(sm){
                height: auto;
                overflow-y: unset;
              }
              .holiday-card-list-item{
                width: 50%;
                @include media-breakpoint-down(xxl){
                  width: 100%;
                }
                @include media-breakpoint-down(ipad){
                  width: 50%;
                }
                @include media-breakpoint-down(md){
                  width: 100%;
                }
                .holiday-card-list-container{
                  .card-header{
                    h2{
                      @include media-breakpoint-down(xl){
                        font-size: $fs-18;
                      }
                    }
                  }
                  .card-body{
                    .month-card-list{
                      .month-card-list-item{
                        .left-content{
                          span{
                            &:first-child{
                              @include media-breakpoint-down(xl){
                                font-size: $fs-20;
                              }
                            }
                            &:last-child{
                              @include media-breakpoint-down(xl){
                                font-size: $fs-14;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .title-with-choicegroup-box{
              @include media-breakpoint-down(md){
                display: block;
              }
              .right-content{
                @include media-breakpoint-down(md){
                  display: flex;
                  align-items: center;
                  margin-bottom: 15px;
                  justify-content: space-between;
                }
                .ms-Dropdown-container{
                  @include media-breakpoint-down(md){
                    display: flex;
                    flex-direction: column;
                    // flex: 0 0 50%;
                    margin-right: 0px;
                    margin-bottom: 0px;
                  } 
                }
                .switch-button-container{
                  .ms-ChoiceFieldGroup{
                    @include media-breakpoint-down(md){
                      margin-bottom: 0px;
                    }
                    .ms-ChoiceFieldGroup-flexContainer{
                      @include media-breakpoint-down(md){
                        margin-bottom: 0px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.CanvasSection-xl4{
      .ControlZone{
        .ControlZone--control{
          .ms-SPLegacyFabricBlock{
            .holiday-card-list{
              height: 720px;
              overflow-y: auto;
              @include scroll-style();
              @include media-breakpoint-down(sm){
                height: auto;
                overflow-y: unset;
              }
              .title-with-choicegroup-box{
                .left-content{
                  .page-title{
                    @include media-breakpoint-down(xxl){
                      font-size: 18px;
                    }
                  }
                }
                .right-content{
                  .ms-Dropdown-container{
                    @include media-breakpoint-down(lg){
                      width: 100%;
                    }
                    .ms-Label{
                      @include media-breakpoint-down(xxl){
                        font-size: 16px;
                      }
                    }
                  }
                  .switch-button-container{
                    .ms-ChoiceFieldGroup{
                      .ms-ChoiceFieldGroup-flexContainer{
                        .ms-ChoiceField{
                          .ms-ChoiceField-wrapper{
                            .ms-ChoiceField-field{
                              .ms-ChoiceField-innerField{
                                @include media-breakpoint-down(lg){
                                  padding: 0px 12px;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              .holiday-card-list-item{
                width: 100%;
                @include media-breakpoint-down(lg){
                  width: 50%;
                }
                @include media-breakpoint-down(sm){
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    &.CanvasSection-xl8{
      .ControlZone{
        .ControlZone--control{
          .ms-SPLegacyFabricBlock{
            .holiday-card-list{
              height: 720px;
              overflow-y: auto;
              @include scroll-style();
              @include media-breakpoint-down(sm){
                height: auto;
                overflow-y: unset;
              }
              .holiday-card-list-item{
                width: 33.33%;
                @include media-breakpoint-down(xxl){
                  width: 50%;
                }
                @include media-breakpoint-down(sm){
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
// Sharepoint Select Column Card issue SCSS Customize End